<div class="container">
  <div  align="center">
    <h3>Send Me A message</h3>

    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true,placeholder: 'Enter name' %>
        <%= f.input :email, :required => true,class:'form-control', placeholder: 'Enter email' %>
        <%= f.input :message, :as => :text, :required => true,placeholder: 'Type your message here.....' %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>

